@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default' as default;
@use '@nebular/theme/styles/themes/dark' as dark;

@include nb-install() {
  .login-wrapper {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    // font-family: 'Mulish', sans-serif !important;
    background-color: var(--background-basic-color-1);
    @media (max-width: 768px) {
      flex-direction: column; // Stack for tablets & phones
    }

    label,
    h6,
    h5,
    a,
    button{
      font-family: 'Mulish', sans-serif !important;
    }

  }
  
}
form {
  font-family: 'Mulish', sans-serif !important;
}
::ng-deep nb-layout .layout .layout-container .content .columns nb-layout-column{
  padding: 0 !important;
}

[nbInput].shape-rectangle,
nb-select.appearance-outline.status-basic .select-button{
    border-radius: 4px !important;
    border: 1px solid var(--card-border-color);
}

.far{
  color: #333333
}

.btn-color{
  background-color: #005DAB !important;
  border-color: #005DAB !important;
  color: #fff !important;
}
a{
  color: #3580F0 !important;
}