<nb-card>
    <nb-card-header>
        <div class="dialogBoxTitle">
            <nb-icon icon="trash-2"></nb-icon> {{ PData.title }}
        </div>
    </nb-card-header>
    <nb-card-body>
        <div>
            <nb-icon icon="alert-circle-outline"></nb-icon> {{ PData.data }}
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="">
                <button nbButton ghost status="success" (click)="onClick('delete')">
                    <nb-icon icon="checkmark-outline"></nb-icon>
                </button>
            </div>
            <div class="">
                <button nbButton ghost status="danger" (click)="onClick('close')">
                    <nb-icon icon="close-outline"></nb-icon>
                </button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>