<div class="login-wrapper">
    <div class="login-left">
      <img src="assets/images/login.png" alt="Security Illustration" />
    </div>
    <div class="login-right">
        <form [formGroup]="resetPasswordForm" autocomplete="off">
            <h2>Reset Password Form</h2>
            <div class="form-group">
            <div class="inner-addon">

                    <label for="newPassword" class="label col-form-label">New Password
                    <span class="star">*</span></label>
                    <div class="input-group">
                    <input formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" nbInput fullWidth
                        id="newPassword" placeholder="New Password" />
                    <div>
                        <i alt="show" class="far fa-eye eye-show" (click)="showPassword = !showPassword"
                        [class.passwordHide]="showPassword" (keypress)="onKeyPressHandler($event)">
                        </i>

                        <i alt="hide" class="far fa-eye-slash eye-hide" (click)="showPassword = !showPassword"
                        [class.passwordHide]="!showPassword" (keypress)="onKeyPressHandler($event)"></i>
                    </div>
                    </div>
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert-danger">
                    <div *ngIf="newPassword.errors?.['required']">
                        New Password is required!
                    </div>
                    <div *ngIf="resetPasswordForm.get('newPassword').errors?.pattern">
                        Valid Password is required! (min 8 Character with Uppercase, Lowercase, Special character, Number)
                    </div>
                </div>
            </div>
            <div class="inner-addon">
                <label for="confirmNewPassword" class="label col-form-label">Confirm Password <span class="star">*</span></label>

                <input formControlName="confirmNewPassword" type="password" nbInput fullWidth id="confirmNewPassword"
                    placeholder="Confirm Password"
                    [readonly]="resetPasswordForm.controls.newPassword.status == 'VALID' ? false : true" />

                    <div
                        *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched) && (resetPasswordForm.controls.newPassword.status == 'VALID')"
                        class="alert-danger">
                        <div *ngIf="confirmNewPassword.errors?.['required']">
                        Confirm Password is required!
                        </div>
                        <div *ngIf="resetPasswordForm.controls['confirmNewPassword'].errors?.['NewMatchPassword']">
                        Confirm Password miss Match.
                        </div>
                    </div>
                </div>

                <button nbButton status="primary" fullWidth type="submit" [disabled]="resetPasswordForm.invalid || IsDisabled" class="my-3" (click)="reset()">
                    RESET
                </button>
            </div>
        </form>
    </div>
</div>