<nb-card>
    <nb-card-header>
        <h3 class="tx-color-01 mg-b-5 " id="title"> 
            <button nbTooltipStatus="danger" nbTooltip="{{'GoBack'}}"
            nbTooltipPlacement="bottom" (click)="goBackBtn()" nbButton ghost status="danger" style="padding: 0px;">
            <nb-icon icon="arrow-back-outline"></nb-icon>
          </button> 
        </h3>
    </nb-card-header>
    <nb-card-body>
        <div class="login-wrapper">        
            <div class="w-25">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendLink()">
                    <h5 class="fw-500">Password Reset</h5>
                    <p class="sub-h-text fw-400">Provide the email address associated with your account to recover your password.</p>

                    <div class="form-group">
                    <label for="email">Email</label>
                    <input nbInput fullWidth id="email" placeholder="Please enter your email"
                            formControlName="email" />
                    </div>

                    <button nbButton status="primary" fullWidth type="submit" [disabled]="forgotPasswordForm.invalid || IsDisabled" class="btn-color">
                        Send Reset Link
                    </button>
                </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>