<p-table [value]="data" [paginator]="false"  [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of headers">{{ col.header }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-i="rowIndex">
    <tr>
      <td *ngFor="let col of headers">
        <ng-container *ngIf="!isAction(col)">
          {{ col.field === 'index' ? i + 1 : row[col.field] }}
        </ng-container>
        <ng-container *ngIf="isAction(col)">
          <button
            nbButton size="small" shape="square"
            class="custom-button"
            (click)="handleAction(col.type, row)">
            <i [class]="col.icon"></i>
          </button>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- <p-paginator
  class="custom-paginator"
  [showFirstLastIcon]="false"
  *ngIf="totalRecords > 10"
  [first]="first"
  #paginator
  [rows]="rows"
  [pageLinkSize]="5"
  [rowsPerPageOptions]="rowsPerPageValues"
  [totalRecords]="totalRecords"
  (onPageChange)="changePage($event)">
</p-paginator> -->

